* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
img{
    width: 100%;
}

.container{
    display: grid;
    background-color: chartreuse;
    grid-template-columns: auto auto auto  ;
    grid-template-rows: auto auto auto  ;
    align-content: center;
    gap: 3px;
 
}
.container div{
    background-color: blue;
    text-align: center;
    color: white;
    border: 1px solid greenyellow;
}
 
.logo{
    grid-column: 1 / 3;
    width: 100px;
    height: 100px;
    justify-self: start;
    }

     
    .login{
        grid-column: 3 / 4;
        width: 100px;
        height: 50px;
        justify-self: end;
    }

    .nav-quienes-somos{
        grid-column: 1/2;
        
    }

    .nav-estadisticas{
        grid-column: 2/3;
    }

    .nav-equipos{
        grid-column: 3/4;
    }

    .carousel{
        grid-column: 1/4;
        
    }
    .quienes-somos{
        grid-column: 1/4;
        width: 100%;
        height: 250px;
        text-align: center;
        text-align:justify;
        background-image: url(./fondo-quines-somos.jpg);
        
    }

    .box8{
        grid-column: 1/4;
        
    }
    
    .equipos{
        grid-column: 1/4;
        
    }

    .column-equipos{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    }

    .rrss{
        grid-column: 1/4;
        width: 100%;
        height: 250px;
        background-image: url(./fondo-rrss.jpg);
    background-position-y: bottom;
    }
 
    
 
   .footer-1{
        grid-column: 1/2;
        width: auto;
        justify-self: start;
    }
    .footer-2{
        grid-column: 2/3;
        width: auto; 
        justify-self: center;   
    }
    .footer-3{
        grid-column: 3/4;
        width: auto; 
        justify-self: end;
        
       }

       li{
           display: inline-block
       }

